/* "*" means select all tags/elements on page */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.top-heading {
    position: sticky;
    top: 0;
    font-size: 50px;
    border: 1px solid black;
    background-color: #4f4f4f;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}














/* ----------------------------------- CARD CSS ----------------------------------- */
.card-wrapper {
    /* border: 1px solid red; */
    background-color: rgb(232, 232, 232);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    /* 
    overflow: scroll; */
}

.card {
    height: 300px;
    width: 300px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 1px 15px #868686;
    text-align: center;
}
/* card class jis element par lagi hai uske andar img element */
.card img{
    width: 85%;
    border-radius: 10px;
    margin-top: 10px;
}

.card h2{
    margin: 10px 0px;
}

.card p{
    color: #787878;
}