<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Meri Todo Application</h1>

    <form id="form" action="/addtodo" method="GET">
        <input type="text" name="name" id="name"> <br>

        <button type="submit" id="btn">Add Task</button>
    </form>
    
    <ul id="container">
       {{#if todosPresent}}
        
        {{#each todos as |t|}}
        <li>{{t}}</li>
        {{/each}}

        {{else}}
        <h4>No Todos</h4>
        
       {{/if}}
    </ul>
    {{!-- It will be picked from public folder --}}
    <script src="/script.js"></script>
</body>

</html>